# PySpark basics in python
  PySpark is an interface for Apache Spark in Python. It not only allows you to write Spark applications using Python APIs, but also provides the PySpark shell for interactively analyzing your data in a distributed environment. PySpark supports most of Spark’s features such as Spark SQL, DataFrame, Streaming, MLlib (Machine Learning) and Spark Core.

### Initializing SparkSession
PySpark applications start with initializing SparkSession which is the entry point of PySpark

In [1]:
# importing the SparkSession from pyspark
from pyspark.sql import SparkSession

In [2]:
# getting the instance of SparkSession of App Name First_App
spark = SparkSession.builder.appName('First_App').getOrCreate()

In [6]:
spark

### Reading Pokemon Data Set from CSV file

In [3]:
# reading the csv file of pokemon data set into spark
# without header it will not be able to header data as column names. it will take like c0,c1 etc
# inferSchema is required to take the data type correctly else everything will be in string data type by default
df_spark = spark.read.csv('pokemon_data.csv',header=True,inferSchema=True)

### To Display the read CSV

In [4]:
# displaying the data read from the csv
df_spark.show()

+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  #|                Name|Type 1|Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  1|           Bulbasaur| Grass|Poison| 45|    49|     49|     65|     65|   45|         1|    FALSE|
|  2|             Ivysaur| Grass|Poison| 60|    62|     63|     80|     80|   60|         1|    FALSE|
|  3|            Venusaur| Grass|Poison| 80|    82|     83|    100|    100|   80|         1|    FALSE|
|  3|VenusaurMega Venu...| Grass|Poison| 80|   100|    123|    122|    120|   80|         1|    FALSE|
|  4|          Charmander|  Fire|  null| 39|    52|     43|     60|     50|   65|         1|    FALSE|
|  5|          Charmeleon|  Fire|  null| 58|    64|     58|     80|     65|   80|         1|    FALSE|
|  6|           Charizard|  Fire|Flying| 78|    84|     78|    109|     85|  100|         1|    FALSE|
|  6|CharizardMega Cha...|  Fire|Dragon| 78|   130|    111|    130|     85|  100|         1|    FALSE|
|  6|CharizardMega Cha...|  Fire|Flying| 78|   104|     78|    159|    115|  100|         1|    FALSE|
|  7|            Squirtle| Water|  null| 44|    48|     65|     50|     64|   43|         1|    FALSE|
|  8|           Wartortle| Water|  null| 59|    63|     80|     65|     80|   58|         1|    FALSE|
|  9|           Blastoise| Water|  null| 79|    83|    100|     85|    105|   78|         1|    FALSE|
|  9|BlastoiseMega Bla...| Water|  null| 79|   103|    120|    135|    115|   78|         1|    FALSE|
| 10|            Caterpie|   Bug|  null| 45|    30|     35|     20|     20|   45|         1|    FALSE|
| 11|             Metapod|   Bug|  null| 50|    20|     55|     25|     25|   30|         1|    FALSE|
| 12|          Butterfree|   Bug|Flying| 60|    45|     50|     90|     80|   70|         1|    FALSE|
| 13|              Weedle|   Bug|Poison| 40|    35|     30|     20|     20|   50|         1|    FALSE|
| 14|              Kakuna|   Bug|Poison| 45|    25|     50|     25|     25|   35|         1|    FALSE|
| 15|            Beedrill|   Bug|Poison| 65|    90|     40|     45|     80|   75|         1|    FALSE|
| 15|BeedrillMega Beed...|   Bug|Poison| 65|   150|     40|     15|     80|  145|         1|    FALSE|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

In [7]:
# to display the first row
df_spark.show(1)

+---+---------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  #|     Name|Type 1|Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+---------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  1|Bulbasaur| Grass|Poison| 45|    49|     49|     65|     65|   45|         1|    FALSE|
+---+---------+------+------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 1 row

### Configuration for eager evaluation of pyspark Dataframe
Alternatively, you can enable `spark.sql.repl.eagerEval.enabled` configuration for the eager evaluation of PySpark DataFrame in notebooks such as Jupyter. The number of rows to show can be controlled via `spark.sql.repl.eagerEval.maxNumRows` configuration.

In [5]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)

In [10]:
df_spark

+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  #|                Name|Type 1|Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  1|           Bulbasaur| Grass|Poison| 45|    49|     49|     65|     65|   45|         1|    FALSE|
|  2|             Ivysaur| Grass|Poison| 60|    62|     63|     80|     80|   60|         1|    FALSE|
|  3|            Venusaur| Grass|Poison| 80|    82|     83|    100|    100|   80|         1|    FALSE|
|  3|VenusaurMega Venu...| Grass|Poison| 80|   100|    123|    122|    120|   80|         1|    FALSE|
|  4|          Charmander|  Fire|  null| 39|    52|     43|     60|     50|   65|         1|    FALSE|
|  5|          Charmeleon|  Fire|  null| 58|    64|     58|     80|     65|   80|         1|    FALSE|
|  6|           Charizard|  Fire|Flying| 78|    84|     78|    109|     85|  100|         1|    FALSE|
|  6|CharizardMega Cha...|  Fire|Dragon| 78|   130|    111|    130|     85|  100|         1|    FALSE|
|  6|CharizardMega Cha...|  Fire|Flying| 78|   104|     78|    159|    115|  100|         1|    FALSE|
|  7|            Squirtle| Water|  null| 44|    48|     65|     50|     64|   43|         1|    FALSE|
|  8|           Wartortle| Water|  null| 59|    63|     80|     65|     80|   58|         1|    FALSE|
|  9|           Blastoise| Water|  null| 79|    83|    100|     85|    105|   78|         1|    FALSE|
|  9|BlastoiseMega Bla...| Water|  null| 79|   103|    120|    135|    115|   78|         1|    FALSE|
| 10|            Caterpie|   Bug|  null| 45|    30|     35|     20|     20|   45|         1|    FALSE|
| 11|             Metapod|   Bug|  null| 50|    20|     55|     25|     25|   30|         1|    FALSE|
| 12|          Butterfree|   Bug|Flying| 60|    45|     50|     90|     80|   70|         1|    FALSE|
| 13|              Weedle|   Bug|Poison| 40|    35|     30|     20|     20|   50|         1|    FALSE|
| 14|              Kakuna|   Bug|Poison| 45|    25|     50|     25|     25|   35|         1|    FALSE|
| 15|            Beedrill|   Bug|Poison| 65|    90|     40|     45|     80|   75|         1|    FALSE|
| 15|BeedrillMega Beed...|   Bug|Poison| 65|   150|     40|     15|     80|  145|         1|    FALSE|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

In [12]:
# to display the details of the row vertically
df_spark.show(1, vertical=True)

-RECORD 0---------------
 #          | 1
 Name       | Bulbasaur
 Type 1     | Grass
 Type 2     | Poison
 HP         | 45
 Attack     | 49
 Defense    | 49
 Sp. Atk    | 65
 Sp. Def    | 65
 Speed      | 45
 Generation | 1
 Legendary  | FALSE
only showing top 1 row

In [19]:
# to read the head 5 rows
df_spark.head(5)

[Row(#='1', Name='Bulbasaur', Type 1='Grass', Type 2='Poison', HP='45', Attack='49', Defense='49', Sp. Atk='65', Sp. Def='65', Speed='45', Generation='1', Legendary='FALSE'),
 Row(#='2', Name='Ivysaur', Type 1='Grass', Type 2='Poison', HP='60', Attack='62', Defense='63', Sp. Atk='80', Sp. Def='80', Speed='60', Generation='1', Legendary='FALSE'),
 Row(#='3', Name='Venusaur', Type 1='Grass', Type 2='Poison', HP='80', Attack='82', Defense='83', Sp. Atk='100', Sp. Def='100', Speed='80', Generation='1', Legendary='FALSE'),
 Row(#='3', Name='VenusaurMega Venusaur', Type 1='Grass', Type 2='Poison', HP='80', Attack='100', Defense='123', Sp. Atk='122', Sp. Def='120', Speed='80', Generation='1', Legendary='FALSE'),
 Row(#='4', Name='Charmander', Type 1='Fire', Type 2=None, HP='39', Attack='52', Defense='43', Sp. Atk='60', Sp. Def='50', Speed='65', Generation='1', Legendary='FALSE')]

In [20]:
# to get the last 5 rows of the data frame 
df_spark.tail(5)

[Row(#='719', Name='Diancie', Type 1='Rock', Type 2='Fairy', HP='50', Attack='100', Defense='150', Sp. Atk='100', Sp. Def='150', Speed='50', Generation='6', Legendary='TRUE'),
 Row(#='719', Name='DiancieMega Diancie', Type 1='Rock', Type 2='Fairy', HP='50', Attack='160', Defense='110', Sp. Atk='160', Sp. Def='110', Speed='110', Generation='6', Legendary='TRUE'),
 Row(#='720', Name='HoopaHoopa Confined', Type 1='Psychic', Type 2='Ghost', HP='80', Attack='110', Defense='60', Sp. Atk='150', Sp. Def='130', Speed='70', Generation='6', Legendary='TRUE'),
 Row(#='720', Name='HoopaHoopa Unbound', Type 1='Psychic', Type 2='Dark', HP='80', Attack='160', Defense='60', Sp. Atk='170', Sp. Def='130', Speed='80', Generation='6', Legendary='TRUE'),
 Row(#='721', Name='Volcanion', Type 1='Fire', Type 2='Water', HP='80', Attack='110', Defense='120', Sp. Atk='130', Sp. Def='90', Speed='70', Generation='6', Legendary='TRUE')]

In [21]:
# to return the number of rows in data frame
df_spark.count()

800

In [11]:
# to see the type 
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [12]:
# to get the data types of each column
df_spark.dtypes

[('#', 'int'),
 ('Name', 'string'),
 ('Type 1', 'string'),
 ('Type 2', 'string'),
 ('HP', 'int'),
 ('Attack', 'int'),
 ('Defense', 'int'),
 ('Sp. Atk', 'int'),
 ('Sp. Def', 'int'),
 ('Speed', 'int'),
 ('Generation', 'int'),
 ('Legendary', 'boolean')]

### To get the Schema of the data frame

In [5]:
df_spark.printSchema()

root
 |-- #: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Type 1: string (nullable = true)
 |-- Type 2: string (nullable = true)
 |-- HP: string (nullable = true)
 |-- Attack: string (nullable = true)
 |-- Defense: string (nullable = true)
 |-- Sp. Atk: string (nullable = true)
 |-- Sp. Def: string (nullable = true)
 |-- Speed: string (nullable = true)
 |-- Generation: string (nullable = true)
 |-- Legendary: string (nullable = true)

### Conversion of pyspark Data Frame into pandas Data Frame

In [6]:
import pandas

In [7]:
df_spark.toPandas()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,FALSE
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,FALSE
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,FALSE
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,FALSE
4,4,Charmander,Fire,None,39,52,43,60,50,65,1,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,TRUE
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,TRUE
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,TRUE
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,TRUE
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,TRUE

### Selecting and Accessing the data in the pyspark

In [10]:
# to get all Column Details
df_spark.columns

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [11]:
df_spark.Name

Column<'Name'>

In [13]:
#Selecting the column and displaying them from data frame 
df_spark.select(df_spark.Name).show(10)
# we can access the same with alternative ways
# df_spark.select(df_spark["Name"]).show(10)
# df_spark.select("Name").show(10)

+--------------------+
|                Name|
+--------------------+
|           Bulbasaur|
|             Ivysaur|
|            Venusaur|
|VenusaurMega Venu...|
|          Charmander|
|          Charmeleon|
|           Charizard|
|CharizardMega Cha...|
|CharizardMega Cha...|
|            Squirtle|
+--------------------+
only showing top 10 rows

In [14]:
# to convert the data into uppercase
from pyspark.sql.functions import upper
# to add new column into the data frame
df_spark.withColumn('Name UpperCase',upper(df_spark.Name)).show()

+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+--------------------+
|  #|                Name|Type 1|Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|      Name UpperCase|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+--------------------+
|  1|           Bulbasaur| Grass|Poison| 45|    49|     49|     65|     65|   45|         1|    false|           BULBASAUR|
|  2|             Ivysaur| Grass|Poison| 60|    62|     63|     80|     80|   60|         1|    false|             IVYSAUR|
|  3|            Venusaur| Grass|Poison| 80|    82|     83|    100|    100|   80|         1|    false|            VENUSAUR|
|  3|VenusaurMega Venu...| Grass|Poison| 80|   100|    123|    122|    120|   80|         1|    false|VENUSAURMEGA VENU...|
|  4|          Charmander|  Fire|  null| 39|    52|     43|     60|     50|   65|         1|    false|          CHARMANDER|
|  5|          Charmeleon|  Fire|  null| 58|    64|     58|     80|     65|   80|         1|    false|          CHARMELEON|
|  6|           Charizard|  Fire|Flying| 78|    84|     78|    109|     85|  100|         1|    false|           CHARIZARD|
|  6|CharizardMega Cha...|  Fire|Dragon| 78|   130|    111|    130|     85|  100|         1|    false|CHARIZARDMEGA CHA...|
|  6|CharizardMega Cha...|  Fire|Flying| 78|   104|     78|    159|    115|  100|         1|    false|CHARIZARDMEGA CHA...|
|  7|            Squirtle| Water|  null| 44|    48|     65|     50|     64|   43|         1|    false|            SQUIRTLE|
|  8|           Wartortle| Water|  null| 59|    63|     80|     65|     80|   58|         1|    false|           WARTORTLE|
|  9|           Blastoise| Water|  null| 79|    83|    100|     85|    105|   78|         1|    false|           BLASTOISE|
|  9|BlastoiseMega Bla...| Water|  null| 79|   103|    120|    135|    115|   78|         1|    false|BLASTOISEMEGA BLA...|
| 10|            Caterpie|   Bug|  null| 45|    30|     35|     20|     20|   45|         1|    false|            CATERPIE|
| 11|             Metapod|   Bug|  null| 50|    20|     55|     25|     25|   30|         1|    false|             METAPOD|
| 12|          Butterfree|   Bug|Flying| 60|    45|     50|     90|     80|   70|         1|    false|          BUTTERFREE|
| 13|              Weedle|   Bug|Poison| 40|    35|     30|     20|     20|   50|         1|    false|              WEEDLE|
| 14|              Kakuna|   Bug|Poison| 45|    25|     50|     25|     25|   35|         1|    false|              KAKUNA|
| 15|            Beedrill|   Bug|Poison| 65|    90|     40|     45|     80|   75|         1|    false|            BEEDRILL|
| 15|BeedrillMega Beed...|   Bug|Poison| 65|   150|     40|     15|     80|  145|         1|    false|BEEDRILLMEGA BEED...|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+--------------------+
only showing top 20 rows

In [15]:
# to drop the column and get the rest of data via collect method
df_spark.drop('Name UpperCase').collect()

[Row(#=1, Name='Bulbasaur', Type 1='Grass', Type 2='Poison', HP=45, Attack=49, Defense=49, Sp. Atk=65, Sp. Def=65, Speed=45, Generation=1, Legendary=False),
 Row(#=2, Name='Ivysaur', Type 1='Grass', Type 2='Poison', HP=60, Attack=62, Defense=63, Sp. Atk=80, Sp. Def=80, Speed=60, Generation=1, Legendary=False),
 Row(#=3, Name='Venusaur', Type 1='Grass', Type 2='Poison', HP=80, Attack=82, Defense=83, Sp. Atk=100, Sp. Def=100, Speed=80, Generation=1, Legendary=False),
 Row(#=3, Name='VenusaurMega Venusaur', Type 1='Grass', Type 2='Poison', HP=80, Attack=100, Defense=123, Sp. Atk=122, Sp. Def=120, Speed=80, Generation=1, Legendary=False),
 Row(#=4, Name='Charmander', Type 1='Fire', Type 2=None, HP=39, Attack=52, Defense=43, Sp. Atk=60, Sp. Def=50, Speed=65, Generation=1, Legendary=False),
 Row(#=5, Name='Charmeleon', Type 1='Fire', Type 2=None, HP=58, Attack=64, Defense=58, Sp. Atk=80, Sp. Def=65, Speed=80, Generation=1, Legendary=False),
 Row(#=6, Name='Charizard', Type 1='Fire', Type 2='Flying', HP=78, Attack=84, Defense=78, Sp. Atk=109, Sp. Def=85, Speed=100, Generation=1, Legendary=False),
 Row(#=6, Name='CharizardMega Charizard X', Type 1='Fire', Type 2='Dragon', HP=78, Attack=130, Defense=111, Sp. Atk=130, Sp. Def=85, Speed=100, Generation=1, Legendary=False),
 Row(#=6, Name='CharizardMega Charizard Y', Type 1='Fire', Type 2='Flying', HP=78, Attack=104, Defense=78, Sp. Atk=159, Sp. Def=115, Speed=100, Generation=1, Legendary=False),
 Row(#=7, Name='Squirtle', Type 1='Water', Type 2=None, HP=44, Attack=48, Defense=65, Sp. Atk=50, Sp. Def=64, Speed=43, Generation=1, Legendary=False),
 Row(#=8, Name='Wartortle', Type 1='Water', Type 2=None, HP=59, Attack=63, Defense=80, Sp. Atk=65, Sp. Def=80, Speed=58, Generation=1, Legendary=False),
 Row(#=9, Name='Blastoise', Type 1='Water', Type 2=None, HP=79, Attack=83, Defense=100, Sp. Atk=85, Sp. Def=105, Speed=78, Generation=1, Legendary=False),
 Row(#=9, Name='BlastoiseMega Blastoise', Type 1='Water', Type 2=None, HP=79, Attack=103, Defense=120, Sp. Atk=135, Sp. Def=115, Speed=78, Generation=1, Legendary=False),
 Row(#=10, Name='Caterpie', Type 1='Bug', Type 2=None, HP=45, Attack=30, Defense=35, Sp. Atk=20, Sp. Def=20, Speed=45, Generation=1, Legendary=False),
 Row(#=11, Name='Metapod', Type 1='Bug', Type 2=None, HP=50, Attack=20, Defense=55, Sp. Atk=25, Sp. Def=25, Speed=30, Generation=1, Legendary=False),
 Row(#=12, Name='Butterfree', Type 1='Bug', Type 2='Flying', HP=60, Attack=45, Defense=50, Sp. Atk=90, Sp. Def=80, Speed=70, Generation=1, Legendary=False),
 Row(#=13, Name='Weedle', Type 1='Bug', Type 2='Poison', HP=40, Attack=35, Defense=30, Sp. Atk=20, Sp. Def=20, Speed=50, Generation=1, Legendary=False),
 Row(#=14, Name='Kakuna', Type 1='Bug', Type 2='Poison', HP=45, Attack=25, Defense=50, Sp. Atk=25, Sp. Def=25, Speed=35, Generation=1, Legendary=False),
 Row(#=15, Name='Beedrill', Type 1='Bug', Type 2='Poison', HP=65, Attack=90, Defense=40, Sp. Atk=45, Sp. Def=80, Speed=75, Generation=1, Legendary=False),
 Row(#=15, Name='BeedrillMega Beedrill', Type 1='Bug', Type 2='Poison', HP=65, Attack=150, Defense=40, Sp. Atk=15, Sp. Def=80, Speed=145, Generation=1, Legendary=False),
 Row(#=16, Name='Pidgey', Type 1='Normal', Type 2='Flying', HP=40, Attack=45, Defense=40, Sp. Atk=35, Sp. Def=35, Speed=56, Generation=1, Legendary=False),
 Row(#=17, Name='Pidgeotto', Type 1='Normal', Type 2='Flying', HP=63, Attack=60, Defense=55, Sp. Atk=50, Sp. Def=50, Speed=71, Generation=1, Legendary=False),
 Row(#=18, Name='Pidgeot', Type 1='Normal', Type 2='Flying', HP=83, Attack=80, Defense=75, Sp. Atk=70, Sp. Def=70, Speed=101, Generation=1, Legendary=False),
 Row(#=18, Name='PidgeotMega Pidgeot', Type 1='Normal', Type 2='Flying', HP=83, Attack=80, Defense=80, Sp. Atk=135, Sp. Def=80, Speed=121, Generation=1, Legendary=False),
 Row(#=19, Name='Rattata', Type 1='Normal', Type 2=None, HP=30, Attack=56, Defense=35, Sp. Atk=25, Sp. Def=35, Speed=72, Generation=1, Legendary=False),
 Row(#=20, Name='Raticate', Type 1='Normal', Type 2=None, HP=55, Attack=81, Defense=60, Sp. Atk=50, Sp. Def=70, Speed=97, Generation=1, Legendary=False),
 Row(#=21, Name='Spearow', Type 1='Normal', Type 2='Flying', HP=40, Attack=60, Defense=30, Sp. Atk=31, Sp. Def=31, Speed=70, Generation=1, Legendary=False),
 Row(#=22, Name='Fearow', Type 1='Normal', Type 2='Flying', HP=65, Attack=90, Defense=65, Sp. Atk=61, Sp. Def=61, Speed=100, Generation=1, Legendary=False),
 Row(#=23, Name='Ekans', Type 1='Poison', Type 2=None, HP=35, Attack=60, Defense=44, Sp. Atk=40, Sp. Def=54, Speed=55, Generation=1, Legendary=False),
 Row(#=24, Name='Arbok', Type 1='Poison', Type 2=None, HP=60, Attack=85, Defense=69, Sp. Atk=65, Sp. Def=79, Speed=80, Generation=1, Legendary=False),
 Row(#=25, Name='Pikachu', Type 1='Electric', Type 2=None, HP=35, Attack=55, Defense=40, Sp. Atk=50, Sp. Def=50, Speed=90, Generation=1, Legendary=False),
 Row(#=26, Name='Raichu', Type 1='Electric', Type 2=None, HP=60, Attack=90, Defense=55, Sp. Atk=90, Sp. Def=80, Speed=110, Generation=1, Legendary=False),
 Row(#=27, Name='Sandshrew', Type 1='Ground', Type 2=None, HP=50, Attack=75, Defense=85, Sp. Atk=20, Sp. Def=30, Speed=40, Generation=1, Legendary=False),
 Row(#=28, Name='Sandslash', Type 1='Ground', Type 2=None, HP=75, Attack=100, Defense=110, Sp. Atk=45, Sp. Def=55, Speed=65, Generation=1, Legendary=False),
 Row(#=29, Name='Nidoran (Female)', Type 1='Poison', Type 2=None, HP=55, Attack=47, Defense=52, Sp. Atk=40, Sp. Def=40, Speed=41, Generation=1, Legendary=False),
 Row(#=30, Name='Nidorina', Type 1='Poison', Type 2=None, HP=70, Attack=62, Defense=67, Sp. Atk=55, Sp. Def=55, Speed=56, Generation=1, Legendary=False),
 Row(#=31, Name='Nidoqueen', Type 1='Poison', Type 2='Ground', HP=90, Attack=92, Defense=87, Sp. Atk=75, Sp. Def=85, Speed=76, Generation=1, Legendary=False),
 Row(#=32, Name='Nidoran (Male)', Type 1='Poison', Type 2=None, HP=46, Attack=57, Defense=40, Sp. Atk=40, Sp. Def=40, Speed=50, Generation=1, Legendary=False),
 Row(#=33, Name='Nidorino', Type 1='Poison', Type 2=None, HP=61, Attack=72, Defense=57, Sp. Atk=55, Sp. Def=55, Speed=65, Generation=1, Legendary=False),
 Row(#=34, Name='Nidoking', Type 1='Poison', Type 2='Ground', HP=81, Attack=102, Defense=77, Sp. Atk=85, Sp. Def=75, Speed=85, Generation=1, Legendary=False),
 Row(#=35, Name='Clefairy', Type 1='Fairy', Type 2=None, HP=70, Attack=45, Defense=48, Sp. Atk=60, Sp. Def=65, Speed=35, Generation=1, Legendary=False),
 Row(#=36, Name='Clefable', Type 1='Fairy', Type 2=None, HP=95, Attack=70, Defense=73, Sp. Atk=95, Sp. Def=90, Speed=60, Generation=1, Legendary=False),
 Row(#=37, Name='Vulpix', Type 1='Fire', Type 2=None, HP=38, Attack=41, Defense=40, Sp. Atk=50, Sp. Def=65, Speed=65, Generation=1, Legendary=False),
 Row(#=38, Name='Ninetales', Type 1='Fire', Type 2=None, HP=73, Attack=76, Defense=75, Sp. Atk=81, Sp. Def=100, Speed=100, Generation=1, Legendary=False),
 Row(#=39, Name='Jigglypuff', Type 1='Normal', Type 2='Fairy', HP=115, Attack=45, Defense=20, Sp. Atk=45, Sp. Def=25, Speed=20, Generation=1, Legendary=False),
 Row(#=40, Name='Wigglytuff', Type 1='Normal', Type 2='Fairy', HP=140, Attack=70, Defense=45, Sp. Atk=85, Sp. Def=50, Speed=45, Generation=1, Legendary=False),
 Row(#=41, Name='Zubat', Type 1='Poison', Type 2='Flying', HP=40, Attack=45, Defense=35, Sp. Atk=30, Sp. Def=40, Speed=55, Generation=1, Legendary=False),
 Row(#=42, Name='Golbat', Type 1='Poison', Type 2='Flying', HP=75, Attack=80, Defense=70, Sp. Atk=65, Sp. Def=75, Speed=90, Generation=1, Legendary=False),
 Row(#=43, Name='Oddish', Type 1='Grass', Type 2='Poison', HP=45, Attack=50, Defense=55, Sp. Atk=75, Sp. Def=65, Speed=30, Generation=1, Legendary=False),
 Row(#=44, Name='Gloom', Type 1='Grass', Type 2='Poison', HP=60, Attack=65, Defense=70, Sp. Atk=85, Sp. Def=75, Speed=40, Generation=1, Legendary=False),
 Row(#=45, Name='Vileplume', Type 1='Grass', Type 2='Poison', HP=75, Attack=80, Defense=85, Sp. Atk=110, Sp. Def=90, Speed=50, Generation=1, Legendary=False),
 Row(#=46, Name='Paras', Type 1='Bug', Type 2='Grass', HP=35, Attack=70, Defense=55, Sp. Atk=45, Sp. Def=55, Speed=25, Generation=1, Legendary=False),
 Row(#=47, Name='Parasect', Type 1='Bug', Type 2='Grass', HP=60, Attack=95, Defense=80, Sp. Atk=60, Sp. Def=80, Speed=30, Generation=1, Legendary=False),
 Row(#=48, Name='Venonat', Type 1='Bug', Type 2='Poison', HP=60, Attack=55, Defense=50, Sp. Atk=40, Sp. Def=55, Speed=45, Generation=1, Legendary=False),
 Row(#=49, Name='Venomoth', Type 1='Bug', Type 2='Poison', HP=70, Attack=65, Defense=60, Sp. Atk=90, Sp. Def=75, Speed=90, Generation=1, Legendary=False),
 Row(#=50, Name='Diglett', Type 1='Ground', Type 2=None, HP=10, Attack=55, Defense=25, Sp. Atk=35, Sp. Def=45, Speed=95, Generation=1, Legendary=False),
 Row(#=51, Name='Dugtrio', Type 1='Ground', Type 2=None, HP=35, Attack=80, Defense=50, Sp. Atk=50, Sp. Def=70, Speed=120, Generation=1, Legendary=False),
 Row(#=52, Name='Meowth', Type 1='Normal', Type 2=None, HP=40, Attack=45, Defense=35, Sp. Atk=40, Sp. Def=40, Speed=90, Generation=1, Legendary=False),
 Row(#=53, Name='Persian', Type 1='Normal', Type 2=None, HP=65, Attack=70, Defense=60, Sp. Atk=65, Sp. Def=65, Speed=115, Generation=1, Legendary=False),
 Row(#=54, Name='Psyduck', Type 1='Water', Type 2=None, HP=50, Attack=52, Defense=48, Sp. Atk=65, Sp. Def=50, Speed=55, Generation=1, Legendary=False),
 Row(#=55, Name='Golduck', Type 1='Water', Type 2=None, HP=80, Attack=82, Defense=78, Sp. Atk=95, Sp. Def=80, Speed=85, Generation=1, Legendary=False),
 Row(#=56, Name='Mankey', Type 1='Fighting', Type 2=None, HP=40, Attack=80, Defense=35, Sp. Atk=35, Sp. Def=45, Speed=70, Generation=1, Legendary=False),
 Row(#=57, Name='Primeape', Type 1='Fighting', Type 2=None, HP=65, Attack=105, Defense=60, Sp. Atk=60, Sp. Def=70, Speed=95, Generation=1, Legendary=False),
 Row(#=58, Name='Growlithe', Type 1='Fire', Type 2=None, HP=55, Attack=70, Defense=45, Sp. Atk=70, Sp. Def=50, Speed=60, Generation=1, Legendary=False),
 Row(#=59, Name='Arcanine', Type 1='Fire', Type 2=None, HP=90, Attack=110, Defense=80, Sp. Atk=100, Sp. Def=80, Speed=95, Generation=1, Legendary=False),
 Row(#=60, Name='Poliwag', Type 1='Water', Type 2=None, HP=40, Attack=50, Defense=40, Sp. Atk=40, Sp. Def=40, Speed=90, Generation=1, Legendary=False),
 Row(#=61, Name='Poliwhirl', Type 1='Water', Type 2=None, HP=65, Attack=65, Defense=65, Sp. Atk=50, Sp. Def=50, Speed=90, Generation=1, Legendary=False),
 Row(#=62, Name='Poliwrath', Type 1='Water', Type 2='Fighting', HP=90, Attack=95, Defense=95, Sp. Atk=70, Sp. Def=90, Speed=70, Generation=1, Legendary=False),
 Row(#=63, Name='Abra', Type 1='Psychic', Type 2=None, HP=25, Attack=20, Defense=15, Sp. Atk=105, Sp. Def=55, Speed=90, Generation=1, Legendary=False),
 Row(#=64, Name='Kadabra', Type 1='Psychic', Type 2=None, HP=40, Attack=35, Defense=30, Sp. Atk=120, Sp. Def=70, Speed=105, Generation=1, Legendary=False),
 Row(#=65, Name='Alakazam', Type 1='Psychic', Type 2=None, HP=55, Attack=50, Defense=45, Sp. Atk=135, Sp. Def=95, Speed=120, Generation=1, Legendary=False),
 Row(#=65, Name='AlakazamMega Alakazam', Type 1='Psychic', Type 2=None, HP=55, Attack=50, Defense=65, Sp. Atk=175, Sp. Def=95, Speed=150, Generation=1, Legendary=False),
 Row(#=66, Name='Machop', Type 1='Fighting', Type 2=None, HP=70, Attack=80, Defense=50, Sp. Atk=35, Sp. Def=35, Speed=35, Generation=1, Legendary=False),
 Row(#=67, Name='Machoke', Type 1='Fighting', Type 2=None, HP=80, Attack=100, Defense=70, Sp. Atk=50, Sp. Def=60, Speed=45, Generation=1, Legendary=False),
 Row(#=68, Name='Machamp', Type 1='Fighting', Type 2=None, HP=90, Attack=130, Defense=80, Sp. Atk=65, Sp. Def=85, Speed=55, Generation=1, Legendary=False),
 Row(#=69, Name='Bellsprout', Type 1='Grass', Type 2='Poison', HP=50, Attack=75, Defense=35, Sp. Atk=70, Sp. Def=30, Speed=40, Generation=1, Legendary=False),
 Row(#=70, Name='Weepinbell', Type 1='Grass', Type 2='Poison', HP=65, Attack=90, Defense=50, Sp. Atk=85, Sp. Def=45, Speed=55, Generation=1, Legendary=False),
 Row(#=71, Name='Victreebel', Type 1='Grass', Type 2='Poison', HP=80, Attack=105, Defense=65, Sp. Atk=100, Sp. Def=70, Speed=70, Generation=1, Legendary=False),
 Row(#=72, Name='Tentacool', Type 1='Water', Type 2='Poison', HP=40, Attack=40, Defense=35, Sp. Atk=50, Sp. Def=100, Speed=70, Generation=1, Legendary=False),
 Row(#=73, Name='Tentacruel', Type 1='Water', Type 2='Poison', HP=80, Attack=70, Defense=65, Sp. Atk=80, Sp. Def=120, Speed=100, Generation=1, Legendary=False),
 Row(#=74, Name='Geodude', Type 1='Rock', Type 2='Ground', HP=40, Attack=80, Defense=100, Sp. Atk=30, Sp. Def=30, Speed=20, Generation=1, Legendary=False),
 Row(#=75, Name='Graveler', Type 1='Rock', Type 2='Ground', HP=55, Attack=95, Defense=115, Sp. Atk=45, Sp. Def=45, Speed=35, Generation=1, Legendary=False),
 Row(#=76, Name='Golem', Type 1='Rock', Type 2='Ground', HP=80, Attack=120, Defense=130, Sp. Atk=55, Sp. Def=65, Speed=45, Generation=1, Legendary=False),
 Row(#=77, Name='Ponyta', Type 1='Fire', Type 2=None, HP=50, Attack=85, Defense=55, Sp. Atk=65, Sp. Def=65, Speed=90, Generation=1, Legendary=False),
 Row(#=78, Name='Rapidash', Type 1='Fire', Type 2=None, HP=65, Attack=100, Defense=70, Sp. Atk=80, Sp. Def=80, Speed=105, Generation=1, Legendary=False),
 Row(#=79, Name='Slowpoke', Type 1='Water', Type 2='Psychic', HP=90, Attack=65, Defense=65, Sp. Atk=40, Sp. Def=40, Speed=15, Generation=1, Legendary=False),
 Row(#=80, Name='Slowbro', Type 1='Water', Type 2='Psychic', HP=95, Attack=75, Defense=110, Sp. Atk=100, Sp. Def=80, Speed=30, Generation=1, Legendary=False),
 Row(#=80, Name='SlowbroMega Slowbro', Type 1='Water', Type 2='Psychic', HP=95, Attack=75, Defense=180, Sp. Atk=130, Sp. Def=80, Speed=30, Generation=1, Legendary=False),
 Row(#=81, Name='Magnemite', Type 1='Electric', Type 2='Steel', HP=25, Attack=35, Defense=70, Sp. Atk=95, Sp. Def=55, Speed=45, Generation=1, Legendary=False),
 Row(#=82, Name='Magneton', Type 1='Electric', Type 2='Steel', HP=50, Attack=60, Defense=95, Sp. Atk=120, Sp. Def=70, Speed=70, Generation=1, Legendary=False),
 Row(#=83, Name="Farfetch'd", Type 1='Normal', Type 2='Flying', HP=52, Attack=65, Defense=55, Sp. Atk=58, Sp. Def=62, Speed=60, Generation=1, Legendary=False),
 Row(#=84, Name='Doduo', Type 1='Normal', Type 2='Flying', HP=35, Attack=85, Defense=45, Sp. Atk=35, Sp. Def=35, Speed=75, Generation=1, Legendary=False),
 Row(#=85, Name='Dodrio', Type 1='Normal', Type 2='Flying', HP=60, Attack=110, Defense=70, Sp. Atk=60, Sp. Def=60, Speed=100, Generation=1, Legendary=False),
 Row(#=86, Name='Seel', Type 1='Water', Type 2=None, HP=65, Attack=45, Defense=55, Sp. Atk=45, Sp. Def=70, Speed=45, Generation=1, Legendary=False),
 Row(#=87, Name='Dewgong', Type 1='Water', Type 2='Ice', HP=90, Attack=70, Defense=80, Sp. Atk=70, Sp. Def=95, Speed=70, Generation=1, Legendary=False),
 Row(#=88, Name='Grimer', Type 1='Poison', Type 2=None, HP=80, Attack=80, Defense=50, Sp. Atk=40, Sp. Def=50, Speed=25, Generation=1, Legendary=False),
 Row(#=89, Name='Muk', Type 1='Poison', Type 2=None, HP=105, Attack=105, Defense=75, Sp. Atk=65, Sp. Def=100, Speed=50, Generation=1, Legendary=False),
 Row(#=90, Name='Shellder', Type 1='Water', Type 2=None, HP=30, Attack=65, Defense=100, Sp. Atk=45, Sp. Def=25, Speed=40, Generation=1, Legendary=False),
 Row(#=91, Name='Cloyster', Type 1='Water', Type 2='Ice', HP=50, Attack=95, Defense=180, Sp. Atk=85, Sp. Def=45, Speed=70, Generation=1, Legendary=False),
 Row(#=92, Name='Gastly', Type 1='Ghost', Type 2='Poison', HP=30, Attack=35, Defense=30, Sp. Atk=100, Sp. Def=35, Speed=80, Generation=1, Legendary=False),
 Row(#=93, Name='Haunter', Type 1='Ghost', Type 2='Poison', HP=45, Attack=50, Defense=45, Sp. Atk=115, Sp. Def=55, Speed=95, Generation=1, Legendary=False),
 Row(#=94, Name='Gengar', Type 1='Ghost', Type 2='Poison', HP=60, Attack=65, Defense=60, Sp. Atk=130, Sp. Def=75, Speed=110, Generation=1, Legendary=False),
 Row(#=94, Name='GengarMega Gengar', Type 1='Ghost', Type 2='Poison', HP=60, Attack=65, Defense=80, Sp. Atk=170, Sp. Def=95, Speed=130, Generation=1, Legendary=False),
 Row(#=95, Name='Onix', Type 1='Rock', Type 2='Ground', HP=35, Attack=45, Defense=160, Sp. Atk=30, Sp. Def=45, Speed=70, Generation=1, Legendary=False),
 Row(#=96, Name='Drowzee', Type 1='Psychic', Type 2=None, HP=60, Attack=48, Defense=45, Sp. Atk=43, Sp. Def=90, Speed=42, Generation=1, Legendary=False),
 Row(#=97, Name='Hypno', Type 1='Psychic', Type 2=None, HP=85, Attack=73, Defense=70, Sp. Atk=73, Sp. Def=115, Speed=67, Generation=1, Legendary=False),
 Row(#=98, Name='Krabby', Type 1='Water', Type 2=None, HP=30, Attack=105, Defense=90, Sp. Atk=25, Sp. Def=25, Speed=50, Generation=1, Legendary=False),
 Row(#=99, Name='Kingler', Type 1='Water', Type 2=None, HP=55, Attack=130, Defense=115, Sp. Atk=50, Sp. Def=50, Speed=75, Generation=1, Legendary=False),
 Row(#=100, Name='Voltorb', Type 1='Electric', Type 2=None, HP=40, Attack=30, Defense=50, Sp. Atk=55, Sp. Def=55, Speed=100, Generation=1, Legendary=False),
 Row(#=101, Name='Electrode', Type 1='Electric', Type 2=None, HP=60, Attack=50, Defense=70, Sp. Atk=80, Sp. Def=80, Speed=140, Generation=1, Legendary=False),
 Row(#=102, Name='Exeggcute', Type 1='Grass', Type 2='Psychic', HP=60, Attack=40, Defense=80, Sp. Atk=60, Sp. Def=45, Speed=40, Generation=1, Legendary=False),
 Row(#=103, Name='Exeggutor', Type 1='Grass', Type 2='Psychic', HP=95, Attack=95, Defense=85, Sp. Atk=125, Sp. Def=65, Speed=55, Generation=1, Legendary=False),
 Row(#=104, Name='Cubone', Type 1='Ground', Type 2=None, HP=50, Attack=50, Defense=95, Sp. Atk=40, Sp. Def=50, Speed=35, Generation=1, Legendary=False),
 Row(#=105, Name='Marowak', Type 1='Ground', Type 2=None, HP=60, Attack=80, Defense=110, Sp. Atk=50, Sp. Def=80, Speed=45, Generation=1, Legendary=False),
 Row(#=106, Name='Hitmonlee', Type 1='Fighting', Type 2=None, HP=50, Attack=120, Defense=53, Sp. Atk=35, Sp. Def=110, Speed=87, Generation=1, Legendary=False),
 Row(#=107, Name='Hitmonchan', Type 1='Fighting', Type 2=None, HP=50, Attack=105, Defense=79, Sp. Atk=35, Sp. Def=110, Speed=76, Generation=1, Legendary=False),
 Row(#=108, Name='Lickitung', Type 1='Normal', Type 2=None, HP=90, Attack=55, Defense=75, Sp. Atk=60, Sp. Def=75, Speed=30, Generation=1, Legendary=False),
 Row(#=109, Name='Koffing', Type 1='Poison', Type 2=None, HP=40, Attack=65, Defense=95, Sp. Atk=60, Sp. Def=45, Speed=35, Generation=1, Legendary=False),
 Row(#=110, Name='Weezing', Type 1='Poison', Type 2=None, HP=65, Attack=90, Defense=120, Sp. Atk=85, Sp. Def=70, Speed=60, Generation=1, Legendary=False),
 Row(#=111, Name='Rhyhorn', Type 1='Ground', Type 2='Rock', HP=80, Attack=85, Defense=95, Sp. Atk=30, Sp. Def=30, Speed=25, Generation=1, Legendary=False),
 Row(#=112, Name='Rhydon', Type 1='Ground', Type 2='Rock', HP=105, Attack=130, Defense=120, Sp. Atk=45, Sp. Def=45, Speed=40, Generation=1, Legendary=False),
 Row(#=113, Name='Chansey', Type 1='Normal', Type 2=None, HP=250, Attack=5, Defense=5, Sp. Atk=35, Sp. Def=105, Speed=50, Generation=1, Legendary=False),
 Row(#=114, Name='Tangela', Type 1='Grass', Type 2=None, HP=65, Attack=55, Defense=115, Sp. Atk=100, Sp. Def=40, Speed=60, Generation=1, Legendary=False),
 Row(#=115, Name='Kangaskhan', Type 1='Normal', Type 2=None, HP=105, Attack=95, Defense=80, Sp. Atk=40, Sp. Def=80, Speed=90, Generation=1, Legendary=False),
 Row(#=115, Name='KangaskhanMega Kangaskhan', Type 1='Normal', Type 2=None, HP=105, Attack=125, Defense=100, Sp. Atk=60, Sp. Def=100, Speed=100, Generation=1, Legendary=False),
 Row(#=116, Name='Horsea', Type 1='Water', Type 2=None, HP=30, Attack=40, Defense=70, Sp. Atk=70, Sp. Def=25, Speed=60, Generation=1, Legendary=False),
 Row(#=117, Name='Seadra', Type 1='Water', Type 2=None, HP=55, Attack=65, Defense=95, Sp. Atk=95, Sp. Def=45, Speed=85, Generation=1, Legendary=False),

### To Filter the pokemon data and get the pokemon which are legendary

In [13]:
df_spark.filter(df_spark.Legendary ==True).show()

+---+-------------------+--------+--------+---+------+-------+-------+-------+-----+----------+---------+
|  #|               Name|  Type 1|  Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+-------------------+--------+--------+---+------+-------+-------+-------+-----+----------+---------+
|144|           Articuno|     Ice|  Flying| 90|    85|    100|     95|    125|   85|         1|     true|
|145|             Zapdos|Electric|  Flying| 90|    90|     85|    125|     90|  100|         1|     true|
|146|            Moltres|    Fire|  Flying| 90|   100|     90|    125|     85|   90|         1|     true|
|150|             Mewtwo| Psychic|    null|106|   110|     90|    154|     90|  130|         1|     true|
|150|MewtwoMega Mewtwo X| Psychic|Fighting|106|   190|    100|    154|    100|  130|         1|     true|
|150|MewtwoMega Mewtwo Y| Psychic|    null|106|   150|     70|    194|    120|  140|         1|     true|
|243|             Raikou|Electric|    null| 90|    85|     75|    115|    100|  115|         2|     true|
|244|              Entei|    Fire|    null|115|   115|     85|     90|     75|  100|         2|     true|
|245|            Suicune|   Water|    null|100|    75|    115|     90|    115|   85|         2|     true|
|249|              Lugia| Psychic|  Flying|106|    90|    130|     90|    154|  110|         2|     true|
|250|              Ho-oh|    Fire|  Flying|106|   130|     90|    110|    154|   90|         2|     true|
|377|           Regirock|    Rock|    null| 80|   100|    200|     50|    100|   50|         3|     true|
|378|             Regice|     Ice|    null| 80|    50|    100|    100|    200|   50|         3|     true|
|379|          Registeel|   Steel|    null| 80|    75|    150|     75|    150|   50|         3|     true|
|380|             Latias|  Dragon| Psychic| 80|    80|     90|    110|    130|  110|         3|     true|
|380|  LatiasMega Latias|  Dragon| Psychic| 80|   100|    120|    140|    150|  110|         3|     true|
|381|             Latios|  Dragon| Psychic| 80|    90|     80|    130|    110|  110|         3|     true|
|381|  LatiosMega Latios|  Dragon| Psychic| 80|   130|    100|    160|    120|  110|         3|     true|
|382|             Kyogre|   Water|    null|100|   100|     90|    150|    140|   90|         3|     true|
|382|KyogrePrimal Kyogre|   Water|    null|100|   150|     90|    180|    160|   90|         3|     true|
+---+-------------------+--------+--------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

### Filter the pokemon which are legendary and have Attack power over 100

In [19]:
df_spark.filter((df_spark.Legendary==True) & (df_spark.Attack>100)).show()

+---+--------------------+-------+--------+---+------+-------+-------+-------+-----+----------+---------+
|  #|                Name| Type 1|  Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+--------------------+-------+--------+---+------+-------+-------+-------+-----+----------+---------+
|150|              Mewtwo|Psychic|    null|106|   110|     90|    154|     90|  130|         1|     true|
|150| MewtwoMega Mewtwo X|Psychic|Fighting|106|   190|    100|    154|    100|  130|         1|     true|
|150| MewtwoMega Mewtwo Y|Psychic|    null|106|   150|     70|    194|    120|  140|         1|     true|
|244|               Entei|   Fire|    null|115|   115|     85|     90|     75|  100|         2|     true|
|250|               Ho-oh|   Fire|  Flying|106|   130|     90|    110|    154|   90|         2|     true|
|381|   LatiosMega Latios| Dragon| Psychic| 80|   130|    100|    160|    120|  110|         3|     true|
|382| KyogrePrimal Kyogre|  Water|    null|100|   150|     90|    180|    160|   90|         3|     true|
|383|             Groudon| Ground|    null|100|   150|    140|    100|     90|   90|         3|     true|
|383|GroudonPrimal Gro...| Ground|    Fire|100|   180|    160|    150|     90|   90|         3|     true|
|384|            Rayquaza| Dragon|  Flying|105|   150|     90|    150|     90|   95|         3|     true|
|384|RayquazaMega Rayq...| Dragon|  Flying|105|   180|    100|    180|    100|  115|         3|     true|
|386|  DeoxysNormal Forme|Psychic|    null| 50|   150|     50|    150|     50|  150|         3|     true|
|386|  DeoxysAttack Forme|Psychic|    null| 50|   180|     20|    180|     20|  150|         3|     true|
|481|             Mesprit|Psychic|    null| 80|   105|    105|    105|    105|   80|         4|     true|
|482|               Azelf|Psychic|    null| 75|   125|     70|    125|     70|  115|         4|     true|
|483|              Dialga|  Steel|  Dragon|100|   120|    120|    150|    100|   90|         4|     true|
|484|              Palkia|  Water|  Dragon| 90|   120|    100|    150|    120|  100|         4|     true|
|486|           Regigigas| Normal|    null|110|   160|    110|     80|    110|  100|         4|     true|
|487|GiratinaOrigin Forme|  Ghost|  Dragon|150|   120|    100|    120|    100|   90|         4|     true|
|492|    ShayminSky Forme|  Grass|  Flying|100|   103|     75|    120|     75|  127|         4|     true|
+---+--------------------+-------+--------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

#### To use or condition in filter in data frame

In [20]:
df_spark.filter((df_spark.Defense>=80) | (df_spark.Defense<=100)).show()

+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  #|                Name|Type 1|Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  1|           Bulbasaur| Grass|Poison| 45|    49|     49|     65|     65|   45|         1|    false|
|  2|             Ivysaur| Grass|Poison| 60|    62|     63|     80|     80|   60|         1|    false|
|  3|            Venusaur| Grass|Poison| 80|    82|     83|    100|    100|   80|         1|    false|
|  3|VenusaurMega Venu...| Grass|Poison| 80|   100|    123|    122|    120|   80|         1|    false|
|  4|          Charmander|  Fire|  null| 39|    52|     43|     60|     50|   65|         1|    false|
|  5|          Charmeleon|  Fire|  null| 58|    64|     58|     80|     65|   80|         1|    false|
|  6|           Charizard|  Fire|Flying| 78|    84|     78|    109|     85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Dragon| 78|   130|    111|    130|     85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Flying| 78|   104|     78|    159|    115|  100|         1|    false|
|  7|            Squirtle| Water|  null| 44|    48|     65|     50|     64|   43|         1|    false|
|  8|           Wartortle| Water|  null| 59|    63|     80|     65|     80|   58|         1|    false|
|  9|           Blastoise| Water|  null| 79|    83|    100|     85|    105|   78|         1|    false|
|  9|BlastoiseMega Bla...| Water|  null| 79|   103|    120|    135|    115|   78|         1|    false|
| 10|            Caterpie|   Bug|  null| 45|    30|     35|     20|     20|   45|         1|    false|
| 11|             Metapod|   Bug|  null| 50|    20|     55|     25|     25|   30|         1|    false|
| 12|          Butterfree|   Bug|Flying| 60|    45|     50|     90|     80|   70|         1|    false|
| 13|              Weedle|   Bug|Poison| 40|    35|     30|     20|     20|   50|         1|    false|
| 14|              Kakuna|   Bug|Poison| 45|    25|     50|     25|     25|   35|         1|    false|
| 15|            Beedrill|   Bug|Poison| 65|    90|     40|     45|     80|   75|         1|    false|
| 15|BeedrillMega Beed...|   Bug|Poison| 65|   150|     40|     15|     80|  145|         1|    false|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

#### to use not condition to filter and show the pokemon which are not legendary

In [22]:
df_spark.filter(~(df_spark.Legendary== True)).show()

+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  #|                Name|Type 1|Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
|  1|           Bulbasaur| Grass|Poison| 45|    49|     49|     65|     65|   45|         1|    false|
|  2|             Ivysaur| Grass|Poison| 60|    62|     63|     80|     80|   60|         1|    false|
|  3|            Venusaur| Grass|Poison| 80|    82|     83|    100|    100|   80|         1|    false|
|  3|VenusaurMega Venu...| Grass|Poison| 80|   100|    123|    122|    120|   80|         1|    false|
|  4|          Charmander|  Fire|  null| 39|    52|     43|     60|     50|   65|         1|    false|
|  5|          Charmeleon|  Fire|  null| 58|    64|     58|     80|     65|   80|         1|    false|
|  6|           Charizard|  Fire|Flying| 78|    84|     78|    109|     85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Dragon| 78|   130|    111|    130|     85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire|Flying| 78|   104|     78|    159|    115|  100|         1|    false|
|  7|            Squirtle| Water|  null| 44|    48|     65|     50|     64|   43|         1|    false|
|  8|           Wartortle| Water|  null| 59|    63|     80|     65|     80|   58|         1|    false|
|  9|           Blastoise| Water|  null| 79|    83|    100|     85|    105|   78|         1|    false|
|  9|BlastoiseMega Bla...| Water|  null| 79|   103|    120|    135|    115|   78|         1|    false|
| 10|            Caterpie|   Bug|  null| 45|    30|     35|     20|     20|   45|         1|    false|
| 11|             Metapod|   Bug|  null| 50|    20|     55|     25|     25|   30|         1|    false|
| 12|          Butterfree|   Bug|Flying| 60|    45|     50|     90|     80|   70|         1|    false|
| 13|              Weedle|   Bug|Poison| 40|    35|     30|     20|     20|   50|         1|    false|
| 14|              Kakuna|   Bug|Poison| 45|    25|     50|     25|     25|   35|         1|    false|
| 15|            Beedrill|   Bug|Poison| 65|    90|     40|     45|     80|   75|         1|    false|
| 15|BeedrillMega Beed...|   Bug|Poison| 65|   150|     40|     15|     80|  145|         1|    false|
+---+--------------------+------+------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

### Sorting the pokemon data with high attack in descending order

In [16]:
df_spark.sort("Attack",ascending=False).show(truncate=False)
# df_spark.sort(df_spark.Attack.desc)

+---+-----------------------+-------+--------+---+------+-------+-------+-------+-----+----------+---------+
|#  |Name                   |Type 1 |Type 2  |HP |Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+-----------------------+-------+--------+---+------+-------+-------+-------+-----+----------+---------+
|150|MewtwoMega Mewtwo X    |Psychic|Fighting|106|190   |100    |154    |100    |130  |1         |true     |
|214|HeracrossMega Heracross|Bug    |Fighting|80 |185   |115    |40     |105    |75   |2         |false    |
|383|GroudonPrimal Groudon  |Ground |Fire    |100|180   |160    |150    |90     |90   |3         |true     |
|384|RayquazaMega Rayquaza  |Dragon |Flying  |105|180   |100    |180    |100    |115  |3         |true     |
|386|DeoxysAttack Forme     |Psychic|null    |50 |180   |20     |180    |20     |150  |3         |true     |
|646|KyuremBlack Kyurem     |Dragon |Ice     |125|170   |100    |120    |90     |95   |5         |true     |
|445|GarchompMega Garchomp  |Dragon |Ground  |108|170   |115    |120    |95     |92   |4         |false    |
|409|Rampardos              |Rock   |null    |97 |165   |60     |65     |50     |58   |4         |false    |
|475|GalladeMega Gallade    |Psychic|Fighting|68 |165   |95     |65     |115    |110  |4         |false    |
|354|BanetteMega Banette    |Ghost  |null    |64 |165   |75     |93     |83     |75   |3         |false    |
|248|TyranitarMega Tyranitar|Rock   |Dark    |100|164   |150    |95     |120    |71   |2         |false    |
|289|Slaking                |Normal |null    |150|160   |100    |95     |65     |100  |3         |false    |
|486|Regigigas              |Normal |null    |110|160   |110    |80     |110    |100  |4         |true     |
|257|BlazikenMega Blaziken  |Fire   |Fighting|80 |160   |80     |130    |80     |100  |3         |false    |
|719|DiancieMega Diancie    |Rock   |Fairy   |50 |160   |110    |160    |110    |110  |6         |true     |
|720|HoopaHoopa Unbound     |Psychic|Dark    |80 |160   |60     |170    |130    |80   |6         |true     |
|130|GyaradosMega Gyarados  |Water  |Dark    |95 |155   |109    |70     |130    |81   |1         |false    |
|127|PinsirMega Pinsir      |Bug    |Flying  |65 |155   |120    |65     |90     |105  |1         |false    |
|359|AbsolMega Absol        |Dark   |null    |65 |150   |60     |115    |60     |115  |3         |false    |
|386|DeoxysNormal Forme     |Psychic|null    |50 |150   |50     |150    |50     |150  |3         |true     |
+---+-----------------------+-------+--------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

### To drop the rows which have atleast one null value in them

In [ ]:
df_spark.na.drop().show()

#### To drop the rows which have all values in a row is null
```
df_spark.na.drop(how="all").show()
```

#### To drop the rows that have more than two null values in column
```
df_spark.na.drop(how="any",thresh=2).show()
```

#### To drop the rows that have null in particular column for example in Type 2 column of pokemon dataset
```
df_spark.na.drop(how="any",subset=['Type 2']).show()
```

### To fill the null values in Column `Type 2` with value 'Pokemon'

In [17]:
df_spark.na.fill('pokemon',['Type 2']).show()

+---+--------------------+------+-------+---+------+-------+-------+-------+-----+----------+---------+
|  #|                Name|Type 1| Type 2| HP|Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+--------------------+------+-------+---+------+-------+-------+-------+-----+----------+---------+
|  1|           Bulbasaur| Grass| Poison| 45|    49|     49|     65|     65|   45|         1|    false|
|  2|             Ivysaur| Grass| Poison| 60|    62|     63|     80|     80|   60|         1|    false|
|  3|            Venusaur| Grass| Poison| 80|    82|     83|    100|    100|   80|         1|    false|
|  3|VenusaurMega Venu...| Grass| Poison| 80|   100|    123|    122|    120|   80|         1|    false|
|  4|          Charmander|  Fire|pokemon| 39|    52|     43|     60|     50|   65|         1|    false|
|  5|          Charmeleon|  Fire|pokemon| 58|    64|     58|     80|     65|   80|         1|    false|
|  6|           Charizard|  Fire| Flying| 78|    84|     78|    109|     85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire| Dragon| 78|   130|    111|    130|     85|  100|         1|    false|
|  6|CharizardMega Cha...|  Fire| Flying| 78|   104|     78|    159|    115|  100|         1|    false|
|  7|            Squirtle| Water|pokemon| 44|    48|     65|     50|     64|   43|         1|    false|
|  8|           Wartortle| Water|pokemon| 59|    63|     80|     65|     80|   58|         1|    false|
|  9|           Blastoise| Water|pokemon| 79|    83|    100|     85|    105|   78|         1|    false|
|  9|BlastoiseMega Bla...| Water|pokemon| 79|   103|    120|    135|    115|   78|         1|    false|
| 10|            Caterpie|   Bug|pokemon| 45|    30|     35|     20|     20|   45|         1|    false|
| 11|             Metapod|   Bug|pokemon| 50|    20|     55|     25|     25|   30|         1|    false|
| 12|          Butterfree|   Bug| Flying| 60|    45|     50|     90|     80|   70|         1|    false|
| 13|              Weedle|   Bug| Poison| 40|    35|     30|     20|     20|   50|         1|    false|
| 14|              Kakuna|   Bug| Poison| 45|    25|     50|     25|     25|   35|         1|    false|
| 15|            Beedrill|   Bug| Poison| 65|    90|     40|     45|     80|   75|         1|    false|
| 15|BeedrillMega Beed...|   Bug| Poison| 65|   150|     40|     15|     80|  145|         1|    false|
+---+--------------------+------+-------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

### Order By in pyspark Data Frame

In [11]:
df_spark.orderBy(df_spark.Attack.desc(),df_spark.Defense.asc()).show(truncate=False)

+---+---------------------+--------+------+---+------+-------+-------+-------+-----+----------+---------+
|#  |Name                 |Type 1  |Type 2|HP |Attack|Defense|Sp. Atk|Sp. Def|Speed|Generation|Legendary|
+---+---------------------+--------+------+---+------+-------+-------+-------+-----+----------+---------+
|516|Simipour             |Water   |null  |75 |98    |63     |98     |63     |101  |5         |FALSE    |
|514|Simisear             |Fire    |null  |75 |98    |63     |98     |63     |101  |5         |FALSE    |
|512|Simisage             |Grass   |null  |75 |98    |63     |98     |63     |101  |5         |FALSE    |
|631|Heatmor              |Fire    |null  |85 |97    |66     |105    |66     |65   |5         |FALSE    |
|372|Shelgon              |Dragon  |null  |65 |95    |100    |60     |50     |50   |3         |FALSE    |
|181|AmpharosMega Ampharos|Electric|Dragon|90 |95    |105    |165    |110    |45   |2         |FALSE    |
|75 |Graveler             |Rock    |Ground|55 |95    |115    |45     |45     |35   |1         |FALSE    |
|711|GourgeistLarge Size  |Ghost   |Grass |75 |95    |122    |58     |75     |69   |6         |FALSE    |
|472|Gliscor              |Ground  |Flying|75 |95    |125    |45     |75     |95   |4         |FALSE    |
|558|Crustle              |Bug     |Rock  |70 |95    |125    |65     |75     |45   |5         |FALSE    |
|91 |Cloyster             |Water   |Ice   |50 |95    |180    |85     |45     |70   |1         |FALSE    |
|347|Anorith              |Rock    |Bug   |45 |95    |50     |40     |50     |75   |3         |FALSE    |
|215|Sneasel              |Dark    |Ice   |55 |95    |55     |35     |75     |115  |2         |FALSE    |
|126|Magmar               |Fire    |null  |65 |95    |57     |100    |85     |93   |1         |FALSE    |
|573|Cinccino             |Normal  |null  |75 |95    |60     |65     |60     |115  |5         |FALSE    |
|234|Stantler             |Normal  |null  |73 |95    |62     |85     |65     |85   |2         |FALSE    |
|658|Greninja             |Water   |Dark  |72 |95    |67     |103    |71     |122  |6         |FALSE    |
|467|Magmortar            |Fire    |null  |75 |95    |67     |125    |95     |83   |4         |FALSE    |
|211|Qwilfish             |Water   |Poison|65 |95    |75     |55     |55     |85   |2         |FALSE    |
|537|Seismitoad           |Water   |Ground|105|95    |75     |85     |75     |74   |5         |FALSE    |
+---+---------------------+--------+------+---+------+-------+-------+-------+-----+----------+---------+
only showing top 20 rows

### Group by the Type of Pokemon and get the count of each pokemon type

In [6]:
df_spark.groupBy(df_spark["Type 1"]).count().collect()

[Row(Type 1='Water', count=112),
 Row(Type 1='Poison', count=28),
 Row(Type 1='Steel', count=27),
 Row(Type 1='Rock', count=44),
 Row(Type 1='Ice', count=24),
 Row(Type 1='Ghost', count=32),
 Row(Type 1='Fairy', count=17),
 Row(Type 1='Psychic', count=57),
 Row(Type 1='Dragon', count=32),
 Row(Type 1='Flying', count=4),
 Row(Type 1='Bug', count=69),
 Row(Type 1='Electric', count=44),
 Row(Type 1='Fire', count=52),
 Row(Type 1='Ground', count=32),
 Row(Type 1='Dark', count=31),
 Row(Type 1='Fighting', count=27),
 Row(Type 1='Grass', count=70),
 Row(Type 1='Normal', count=98)]

### Group by to get the max Attack value of every type of pokemon

In [10]:
df_spark.groupBy("Type 1").max("Attack").show()

+--------+-----------+
|  Type 1|max(Attack)|
+--------+-----------+
|   Water|        155|
|  Poison|        106|
|   Steel|        150|
|    Rock|        165|
|     Ice|        130|
|   Ghost|        165|
|   Fairy|        131|
| Psychic|        190|
|  Dragon|        180|
|  Flying|        115|
|     Bug|        185|
|Electric|        123|
|    Fire|        160|
|  Ground|        180|
|    Dark|        150|
|Fighting|        145|
|   Grass|        132|
|  Normal|        160|
+--------+-----------+

#### To get the average defense of each pokemon type

In [23]:
df_spark.groupBy("Type 1").avg("Defense").show()

+--------+------------------+
|  Type 1|      avg(Defense)|
+--------+------------------+
|   Water| 72.94642857142857|
|  Poison| 68.82142857142857|
|   Steel|126.37037037037037|
|    Rock|100.79545454545455|
|     Ice| 71.41666666666667|
|   Ghost|           81.1875|
|   Fairy| 65.70588235294117|
| Psychic|  67.6842105263158|
|  Dragon|            86.375|
|  Flying|             66.25|
|     Bug| 70.72463768115942|
|Electric| 66.29545454545455|
|    Fire| 67.76923076923077|
|  Ground|          84.84375|
|    Dark|  70.2258064516129|
|Fighting| 65.92592592592592|
|   Grass|              70.8|
|  Normal|  59.8469387755102|
+--------+------------------+

### Joins in pyspark

In [9]:
# we are importing new dataset which contains customer details for performing joins
df_customer = spark.read.csv('Customer_Details.csv',header=True,inferSchema=True)
df_customer

+----------+------------+-----------+
|CustomerId|CustomerName|   District|
+----------+------------+-----------+
|         1|      Sakthi|    Tenkasi|
|         2|    Eyuwankg|Thoothukudi|
|         3|      Balaji|    Chennai|
|         4|      Sriram|Tirunelveli|
|         5|  Kaviarasan|Tirunelveli|
|         6|     prathip|    Chennai|
+----------+------------+-----------+

In [7]:
# we are importing  new dataset which contains car order details 
df_car_order = spark.read.csv('CarOrderDetails.csv',header=True,inferSchema=True)
df_car_order

+-------+-------------------+---------+----------+
|OrderId|           Car Name|OrderDate|CustomerId|
+-------+-------------------+---------+----------+
|      1|             BMW iX|8/24/2022|         3|
|      2|  Rolls Royce Ghost|8/25/2022|         1|
|      3|           Audi RS7|8/26/2022|         5|
|      4|Lamborghini Huracan|8/27/2022|         2|
|      5|            Mustang|8/28/2022|         6|
|      6|            Ferrari|8/29/2022|         4|
|      7|               Benz|8/30/2022|         3|
|      8|             Jaguar|8/31/2022|         5|
|      9|      Tesla Model x| 9/1/2022|         2|
|     10|     Buggati Chiron| 9/2/2022|         2|
+-------+-------------------+---------+----------+

#### Perform Inner join both the data frames and get the Customer Name and Car Name

In [11]:
df_car_order.join(df_customer,df_customer.CustomerId == df_car_order.CustomerId,'inner').select(df_customer.CustomerName,df_car_order['Car Name'])

+------------+-------------------+
|CustomerName|           Car Name|
+------------+-------------------+
|      Balaji|             BMW iX|
|      Sakthi|  Rolls Royce Ghost|
|  Kaviarasan|           Audi RS7|
|    Eyuwankg|Lamborghini Huracan|
|     prathip|            Mustang|
|      Sriram|            Ferrari|
|      Balaji|               Benz|
|  Kaviarasan|             Jaguar|
|    Eyuwankg|      Tesla Model x|
|    Eyuwankg|     Buggati Chiron|
+------------+-------------------+

#### To get the distinct customer name who ordered a car

In [22]:
df_car_order.join(df_customer,df_customer.CustomerId == df_car_order.CustomerId,'inner').select(df_customer.CustomerName).distinct()

+------------+
|CustomerName|
+------------+
|    Eyuwankg|
|     prathip|
|  Kaviarasan|
|      Sriram|
|      Balaji|
|      Sakthi|
+------------+

#### use Left Join on df_customer on df_car_order

In [14]:
df_customer.join(df_car_order,df_customer.CustomerId == df_car_order.CustomerId,'left').select(df_customer.CustomerId,df_customer.CustomerName,df_customer.District,df_car_order['Car Name'])

+----------+------------+-----------+-------------------+
|CustomerId|CustomerName|   District|           Car Name|
+----------+------------+-----------+-------------------+
|         1|      Sakthi|    Tenkasi|  Rolls Royce Ghost|
|         2|    Eyuwankg|Thoothukudi|     Buggati Chiron|
|         2|    Eyuwankg|Thoothukudi|      Tesla Model x|
|         2|    Eyuwankg|Thoothukudi|Lamborghini Huracan|
|         3|      Balaji|    Chennai|               Benz|
|         3|      Balaji|    Chennai|             BMW iX|
|         4|      Sriram|Tirunelveli|            Ferrari|
|         5|  Kaviarasan|Tirunelveli|             Jaguar|
|         5|  Kaviarasan|Tirunelveli|           Audi RS7|
|         6|     prathip|    Chennai|            Mustang|
+----------+------------+-----------+-------------------+

#### Right outer join on car order details with customer name

In [19]:
df_customer.join(df_car_order,df_customer.CustomerId == df_car_order.CustomerId,'right_outer').select(df_car_order.OrderId,df_customer.CustomerName,df_car_order['Car Name'])

+-------+------------+-------------------+
|OrderId|CustomerName|           Car Name|
+-------+------------+-------------------+
|      1|      Balaji|             BMW iX|
|      2|      Sakthi|  Rolls Royce Ghost|
|      3|  Kaviarasan|           Audi RS7|
|      4|    Eyuwankg|Lamborghini Huracan|
|      5|     prathip|            Mustang|
|      6|      Sriram|            Ferrari|
|      7|      Balaji|               Benz|
|      8|  Kaviarasan|             Jaguar|
|      9|    Eyuwankg|      Tesla Model x|
|     10|    Eyuwankg|     Buggati Chiron|
+-------+------------+-------------------+

#### Other Joins in pyspark data frame

#### default `inner`. Must be one of: `inner`, `cross`, `outer`, `full`, `fullouter`, `full_outer`, `left`, `leftouter`, `left_outer`, `right`, `rightouter`, `right_outer`, `semi`, `leftsemi`, `left_semi`, `anti`, `leftanti` and `left_anti`.

### List comprehension

#### To Use list comprehension to fetch the customer name and district

In [27]:
customerColumnList =['CustomerName','District']

In [24]:
df_customer.select([columnName for columnName in customerColumnList])

+------------+-----------+
|CustomerName|   District|
+------------+-----------+
|      Sakthi|    Tenkasi|
|    Eyuwankg|Thoothukudi|
|      Balaji|    Chennai|
|      Sriram|Tirunelveli|
|  Kaviarasan|Tirunelveli|
|     prathip|    Chennai|
+------------+-----------+

#### using condition in list comprehension to select only CustomerName column from list

In [29]:
df_customer.select([columnName for columnName in customerColumnList if columnName=='CustomerName'])

+------------+
|CustomerName|
+------------+
|      Sakthi|
|    Eyuwankg|
|      Balaji|
|      Sriram|
|  Kaviarasan|
|     prathip|
+------------+

#### using list comprehension to iterate through the data of customer and print them

In [31]:
[print(row["CustomerId"],row["CustomerName"],row["District"]) for row in df_customer.collect()]

1 Sakthi Tenkasi
2 Eyuwankg Thoothukudi
3 Balaji Chennai
4 Sriram Tirunelveli
5 Kaviarasan Tirunelveli
6 prathip Chennai

[None, None, None, None, None, None]